<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .glyphicon,
        .glyphicon-edit {
            width: 25px;
            height: 25px;
        }
        .green-background {
        background-color: #fdfdfd;
      }

      body {
      background-color: rgb(255, 255, 255);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-bottom: 10%;
      font-weight: 100px;
      font-weight: bold;

    }

   
    input[type=submit],
    #eu_div1,
    #wed_div1 {

      position: relative;
      background-color: #f3faf8;
      font-weight: bold;
      border: none;
      color: rgb(0, 0, 0);
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
    </style>
</head>


<body>
  
        <ul class=" ">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a id="Link"  class="btn btn-primary" onclick="addRow()">Add</a></li>
                 <a id="SaveAll" onclick="saveAll()"></a>
                         </ul>
            <!-- <button class="btn btn-danger navbar-btn">Button</button> -->
       
 

    <div class="container text-center">


        <table class="table table-hover table-bordered table-striped  ">
            <tbody id="my_data">

                <tr>
                    <th>candidate_id</th>
                    <th>candidate_firstname</th>
                    <th>candidate_lastname</th>
                     <th>candidate_phone</th>
                  
                    <th >Edit</th>
                    <th>Store Data</th>

                </tr>


                <% for(let i=0; i<ans.length; i++) { %>


                    <tr id="t<%= ans[i].candidate_id  + 1 %>">
                        <th scope="row">
                            <input type="text" disabled="true" name=" <%`candidate_id${i}`%>" value="<%= ans[i].candidate_id %>" readonly>

                        </th>

                        <td>
                            <input type="text" disabled="true" name="<%`candidate_firstname${i}`%>" value="<%= ans[i].candidate_firstname %>">


                        </td>
                        <td><input type="text" disabled="true" name="<%`candidate_lastname${i}`%>" value="<%= ans[i].candidate_lastname %>">
                        </td>
                        
                        <td><input type="text" disabled="true" name="<%`candidate_phone${i}`%>" value="<%= ans[i].candidate_phone %>">
                        </td>

                      
                        <td>
                            <a id="edit" class="btn btn-primary" >
                                <span >Edit</span>
                            </a>
                        </td>


                        <td><span><i id="<%= ans[i].candidate_id %>" class="btn btn-primary"
                                    onclick="handleUpdate(`<%= ans[i].candidate_id %>`)">Update</i></span>
                        </td>
                    </tr>

                    <% } %>

            </tbody>


    </div>



</body>

</tbody>
</table>

<script>

    function handleUpdate(ele) {
        console.log("i am here");
        const id = parseInt(ele)
        console.log(id);
        const up_arr = []
        const Update = document.getElementById(ele);
        console.log(Update);
        const row = Update.parentNode.parentNode.parentNode;
        console.log(row);
        const allInputs = row.querySelectorAll("input[type=text]");
        console.log(allInputs);
        Update.addEventListener('click', async () => {

            allInputs.forEach(input => {
                // console.log(input.value);
                up_arr.push(input.value)

            })
            console.log(up_arr);

            let msg = confirm("Do you want to Update data ?");
            if (msg && up_arr) {
                console.log("i am here");

                const save_req = await fetch(`http://localhost:9000/update/${id}`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        data: up_arr

                    })

                });
                var resSave = await save_req.json();
                console.log(resSave);

                if (resSave) {
                    alert("Your Data is Updated Successfully ")
                    location.reload(true)
                }
            }
        })




    }
    const arrofIDs=[]
    let n=0;
    async function addRow() {
        console.log("he bab");
        const response = await fetch('/getId');
        const data = await response.json();
        console.log(data);
        let id = data.ans[0].id + 1;
        
        arrofIDs.push(id+n)
       n++;
        console.log(arrofIDs);
        let di=0
        // let id = 0
        // console.log("i got data");
        let content = `
                    <td><input type="text"  name="id${++di}" id="input1" readonly></td>
                    <td><input type="text" name="candidate_firstname${di}" id="input1"></td>
                    <td><input type="text" name="candidate_lastname${di}" id="input2"></td>
                    <td><input type="text" name="candidate_phone${di}" id="input3"></td>
                    
                    <p class="btn btn-success" class="savedata" id="save" onclick="savedata()">save</p>`;

        const div = document.createElement('tr');
        // div.style.display="flex"
        div.innerHTML = content;
        let tbody = document.getElementById('my_data')

        tbody.appendChild(div)
    

    }


    const editme = document.querySelectorAll("#edit");
    editme.forEach(items => {
        items.addEventListener('click', async () => {
            const row = items.parentNode.parentNode;
            // console.log(row);
            const allInputs = row.querySelectorAll("input[type=text]");
            // console.log(allInputs);
            allInputs.forEach(input => {
                // console.log(input.value);
                input.disabled = false

            })
        })
    })





    function savedata() {
        const saveme = document.getElementById("save")
        const new_load = [];
        saveme.addEventListener('click', async () => {
            const row = saveme.parentNode;
            const allInputs = row.querySelectorAll("input[type=text]");
           console.log(allInputs);
            allInputs.forEach(input => {
            console.log(input.value);
                new_load.push(input.value);
            })
            console.log(new_load);
           


            const save_req = await fetch(`http://localhost:9000/save`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    data: new_load

                })

            });
            var resSave = await save_req.json();
            console.log(resSave);

            if (resSave) {
                alert("Your Data is Stored Successfully ")
                location.reload(true);

            }
            // console.log(new_load);
        })
    }




    function saveAll() {
        const add_row = document.querySelectorAll('#save');
        console.log(add_row);
        const Save_all = document.getElementById('SaveAll')
        var arr_n = [];
        Save_all.addEventListener('click', async () => {
            add_row.forEach(ele => {
                var arr = new Array();
                const rows = ele.parentNode
                const allInputs = rows.querySelectorAll("input[type=text]");
                allInputs.forEach(input => {
                    console.log(input.value);
                    arr.push(input.value);
                })
                arr_n.push(arr);
            })
            console.log(arr_n);
            let msg = confirm("Do you want to Save all Inserted data ?");

            if (msg && arr_n) {
                const save_req = await fetch(`http://localhost:9000/saveall`, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        data: arr_n

                    })

                });

            }

            var resSave = await save_req.json();
                console.log(resSave);

                if (resSave) {
                    alert(" Data is Updated ")
                    location.reload(true)
                }

        })
    }



</script>

</html>